In [39]:
!pip install geopy

Collecting geopy

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   --- ------------------------------------ 10.2/125.4 kB ? eta -:--:--
   --------- ----------------------------- 30.7/125.4 kB 435.7 kB/s eta 0:00:01
   --------- ----------------------------- 30.7/125.4 kB 435.7 kB/s eta 0:00:01
   ------------ -------------------------- 41.0/125.4 kB 219.4 kB/s eta 0:00:01
   ------------------- ------------------- 61.4/125.4 kB 297.7 kB/s eta 0:00:01
   ------------------------- ------------- 81.9/125.4 kB 353.1 kB/s eta 0:00:01
   ---------------------------------- --- 112.6/125.4 kB 409.6 kB/s eta 0:00:01
   -------------------------------------  122.9/125.4 kB 379.3 kB/s eta 0:00:01
   -------------------------------------  122.9/125.4 kB 379.3 kB/s eta 0:00:01
   -------------------------------------  122.9/125.4 kB 379.3 kB/s eta 0:00:01
   -------------------------------------  122.9/125.4 kB 379.3 kB/s eta 0:00:01
   -------------------------------------- 125.4/125.4 kB 230.4 kB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------- ----------------------------- 10.2/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB 640.1 kB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [1]:
from geopy.distance import geodesic

In [2]:
import pandas as pd
import numpy as np

In [3]:
data_Test=pd.read_csv("Test_dataset_with_probability.csv")
data_Test.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,risk_probability
0,1685,6/21/2020 22:06,3.560730e+15,fraud_Hamill-D'Amore,health_fitness,24.84,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,-102.7413,23,Cytogeneticist,9/15/1969,16bf2e46c54369a8eab2214649506425,1371852399,32.575873,-102.604290,1,0.581096
1,1767,6/21/2020 22:32,6.564460e+15,"fraud_Rodriguez, Yost and Jenkins",misc_net,780.52,Douglas,Willis,M,619 Jeremy Garden Apt. 681,...,-90.3508,1306,Public relations officer,9/10/1958,ab4b379d2c0c9c667d46508d4e126d72,1371853942,42.461127,-91.147148,1,0.825668
2,1781,6/21/2020 22:37,6.564460e+15,fraud_Nienow PLC,entertainment,620.33,Douglas,Willis,M,619 Jeremy Garden Apt. 681,...,-90.3508,1306,Public relations officer,9/10/1958,47a9987ae81d99f7832a54b29a77bf4b,1371854247,42.771834,-90.158365,1,0.572102
3,1784,6/21/2020 22:38,4.005680e+15,"fraud_Heathcote, Yost and Kertzmann",shopping_net,1077.69,William,Perry,M,458 Phillips Island Apt. 768,...,-90.9027,71335,Herbalist,5/31/1994,fe956c7e4a253c437c18918bf96f7b62,1371854335,31.204974,-90.261595,1,1.000000
4,1857,6/21/2020 23:02,3.560730e+15,fraud_Hermann and Sons,shopping_pos,842.65,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,-102.7413,23,Cytogeneticist,9/15/1969,f6838c01f5d2262006e6b71d33ba7c6d,1371855736,31.315782,-102.736390,1,0.810834

In [4]:
data_Test.shape

(2145, 24)

In [5]:
data_Test.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
risk_probability         0
dtype: int64

In [6]:
data_Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2145 entries, 0 to 2144
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             2145 non-null   int64
 1   trans_date_trans_time  2145 non-null   object
 2   cc_num                 2145 non-null   float64
 3   merchant               2145 non-null   object
 4   category               2145 non-null   object
 5   amt                    2145 non-null   float64
 6   first                  2145 non-null   object
 7   last                   2145 non-null   object
 8   gender                 2145 non-null   object
 9   street                 2145 non-null   object
 10  city                   2145 non-null   object
 11  state                  2145 non-null   object
 12  zip                    2145 non-null   int64
 13  lat                    2145 non-null   float64
 14  long                   2145 non-null   float64
 15  city_pop               2145 non-null   int64
 16  job                    2145 non-null   object
 17  dob                    2145 non-null   object
 18  trans_num              2145 non-null   object
 19  unix_time              2145 non-null   int64
 20  merch_lat              2145 non-null   float64
 21  merch_long             2145 non-null   float64
 22  is_fraud               2145 non-null   int64
 23  risk_probability       2145 non-null   float64
dtypes: float64(7), int64(5), object(12)
memory usage: 402.3+ KB

In [7]:
data_Test.head(2)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,risk_probability
0,1685,6/21/2020 22:06,3.560730e+15,fraud_Hamill-D'Amore,health_fitness,24.84,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,-102.7413,23,Cytogeneticist,9/15/1969,16bf2e46c54369a8eab2214649506425,1371852399,32.575873,-102.604290,1,0.581096
1,1767,6/21/2020 22:32,6.564460e+15,"fraud_Rodriguez, Yost and Jenkins",misc_net,780.52,Douglas,Willis,M,619 Jeremy Garden Apt. 681,...,-90.3508,1306,Public relations officer,9/10/1958,ab4b379d2c0c9c667d46508d4e126d72,1371853942,42.461127,-91.147148,1,0.825668

In [8]:
len(data_Test['trans_date_trans_time'].value_counts())

2108

In [9]:
data_Test['merchant'].value_counts()

merchant
fraud_Romaguera, Cruickshank and Greenholt    18
fraud_Lemke-Gutmann                           18
fraud_Mosciski, Ziemann and Farrell           18
fraud_Schultz, Simonis and Little             17
fraud_Heathcote, Yost and Kertzmann           17
                                              ..
fraud_Dickinson-Rempel                         1
fraud_Lind-Buckridge                           1
fraud_Ernser-Feest                             1
fraud_Dicki Ltd                                1
fraud_Schulist Ltd                             1
Name: count, Length: 557, dtype: int64

In [10]:
len(data_Test['merchant'].value_counts())

557

In [11]:
data_Test['category'].value_counts()

category
shopping_net      506
grocery_pos       485
misc_net          267
shopping_pos      213
gas_transport     154
misc_pos           72
personal_care      70
home               67
kids_pets          65
entertainment      59
food_dining        54
health_fitness     52
grocery_net        41
travel             40
Name: count, dtype: int64

In [12]:
len(data_Test['category'].value_counts())

14

In [13]:
data_Test['first'].value_counts()

first
Christopher    85
Mary           54
David          50
Lisa           46
Stephanie      44
               ..
Ellen           3
Peggy           3
Christine       3
Erin            2
Janet           2
Name: count, Length: 143, dtype: int64

In [14]:
len(data_Test['first'].value_counts())

143

In [15]:
data_Test['last'].value_counts()

last
Williams     71
Jones        38
Johnson      36
Lowe         32
Bell         31
             ..
Leblanc       3
Berry         3
Willis        3
Chavez        2
Carpenter     2
Name: count, Length: 173, dtype: int64

In [16]:
len(data_Test['last'].value_counts())

173

In [17]:
data_Test['gender'].value_counts()

gender
F    1164
M     981
Name: count, dtype: int64

In [18]:
len(data_Test['gender'].value_counts())

2

In [19]:
data_Test['street'].value_counts()

street
00315 Ashley Valleys             19
444 Robert Mews                  18
4664 Sanchez Common Suite 930    16
9853 Flynn Hollow Apt. 602       16
358 Pruitt Square                16
                                 ..
7337 Browning Falls Suite 027     3
3379 Williams Common              2
67210 Lori Creek                  2
9870 Collins Flat                 2
63542 Luna Brook Apt. 012         2
Name: count, Length: 218, dtype: int64

In [20]:
len(data_Test['street'].value_counts())

218

In [21]:
data_Test['city'].value_counts()

city
Camden          27
Birmingham      25
Burrton         19
Clarks Mills    18
Bradley         16
                ..
Deltona          3
Littleton        2
Sherman          2
Laramie          2
Notrees          2
Name: count, Length: 215, dtype: int64

In [22]:
len(data_Test['city'].value_counts())

215

In [23]:
data_Test['state'].value_counts()

state
NY    175
PA    114
TX    113
CA     76
IL     76
VA     75
IN     75
MN     73
MO     71
IA     69
KY     67
WI     65
AL     63
MI     61
GA     58
OK     57
MS     54
FL     53
OR     48
NC     46
MD     46
NJ     43
SC     43
CT     40
NM     39
OH     39
MT     37
KS     37
NE     36
AR     34
WA     30
AZ     27
ND     27
LA     22
ID     22
NH     20
TN     19
MA     18
SD     18
ME     15
AK     14
DC     10
WY      9
HI      9
CO      2
Name: count, dtype: int64

In [24]:
len(data_Test['state'].value_counts())

45

In [25]:
data_Test['zip'].value_counts()

zip
67020    19
16114    18
29819    16
58275    16
32565    16
         ..
31605     3
80120     2
75092     2
82072     2
79759     2
Name: count, Length: 218, dtype: int64

In [26]:
len(data_Test['zip'].value_counts())

218

In [27]:
data_Test['job'].value_counts()

job
Science writer                 30
Licensed conveyancer           29
Systems developer              29
Engineer, biomedical           28
Colour technologist            27
                               ..
Video editor                    4
Public relations officer        3
Clinical research associate     3
Commercial horticulturist       3
Pilot, airline                  2
Name: count, Length: 177, dtype: int64

In [28]:
len(data_Test['job'].value_counts())

177

In [29]:
data_Test['dob'].value_counts()

dob
11/18/1997    19
9/22/1997     18
6/3/1984      16
11/12/1994    16
11/5/1994     16
              ..
9/8/1987       3
7/31/1975      2
9/11/1970      2
9/2/1988       2
9/15/1969      2
Name: count, Length: 218, dtype: int64

In [30]:
len(data_Test['dob'].value_counts())

218

In [31]:
data_Test['trans_num'].value_counts()

trans_num
16bf2e46c54369a8eab2214649506425    1
603e91e958bb78fc55c5df6d7b817c9d    1
f04121b6d75bff970c86fafd9f3903d1    1
7814e756c3fc0af4eb76918fd6acd763    1
c948881c8e8ba8369e8c180160c25cf4    1
                                   ..
3a19fe44bfdf260f630d0ad080015270    1
b61d49087875e4de277b751bb8eb36cf    1
8bc785f62ecd2c92858060551babad14    1
d2fa92fcb98a67a166d60c47e5173cc6    1
44292cbc51e37dc018ee6a988a4bc426    1
Name: count, Length: 2145, dtype: int64

In [32]:
len(data_Test['trans_num'].value_counts())

2145

In [33]:
data_Test['trans_date_trans_time']=pd.to_datetime(data_Test['trans_date_trans_time'],format='%m/%d/%Y %H:%M')
data_Test['hour']=data_Test['trans_date_trans_time'].dt.hour

In [34]:
data_Test['hour']

0       22
1       22
2       22
3       22
4       23
        ..
2140    22
2141    22
2142    22
2143    23
2144    23
Name: hour, Length: 2145, dtype: int32

In [35]:
data_Test=data_Test.drop(columns=['Unnamed: 0','cc_num','is_fraud','unix_time','trans_date_trans_time','first','last','merchant', 'gender','street','city','state','zip','job','dob','trans_num'])

In [36]:
data_Test.head(2)

,category,amt,lat,long,city_pop,merch_lat,merch_long,risk_probability,hour
0,health_fitness,24.84,31.8599,-102.7413,23,32.575873,-102.604290,0.581096,22
1,misc_net,780.52,42.5545,-90.3508,1306,42.461127,-91.147148,0.825668,22

In [37]:
print(data_Test.dtypes)

category             object
amt                 float64
lat                 float64
long                float64
city_pop              int64
merch_lat           float64
merch_long          float64
risk_probability    float64
hour                  int32
dtype: object

In [38]:
# Function to calculate distance between customer and merchant
def calculate_distance(row):
    customer_location = (row['lat'], row['long'])
    merchant_location = (row['merch_lat'], row['merch_long'])
    return geodesic(customer_location, merchant_location).kilometers

In [39]:
# Apply the function to the DataFrame
data_Test["distance_km"] = data_Test.apply(calculate_distance, axis=1)

In [40]:
data_Test=data_Test.drop(columns=['lat','long','merch_lat','merch_long'])

In [41]:
data_Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2145 entries, 0 to 2144
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          2145 non-null   object
 1   amt               2145 non-null   float64
 2   city_pop          2145 non-null   int64
 3   risk_probability  2145 non-null   float64
 4   hour              2145 non-null   int32
 5   distance_km       2145 non-null   float64
dtypes: float64(3), int32(1), int64(1), object(1)
memory usage: 92.3+ KB

In [42]:
correlation_matrix = data_Test.select_dtypes(include=['number']).corr()
print(correlation_matrix['risk_probability'])

amt                 0.775172
city_pop            0.047826
risk_probability    1.000000
hour                0.171179
distance_km         0.360341
Name: risk_probability, dtype: float64

In [43]:
# One-hot encode 'category' and 'gender', keeping only 0 and 1
data_Test= pd.get_dummies(data_Test, columns=['category'], dtype=int)

In [44]:
# Display the resulting DataFrame
print(data_Test.head())

       amt  city_pop  risk_probability  hour  distance_km  \
0    24.84        23          0.581096    22    80.438371
1   780.52      1306          0.825668    22    66.267361
2   620.33      1306          0.572102    22    28.840604
3  1077.69     71335          1.000000    22   102.964988
4   842.65        23          0.810834    23    60.333400

   category_entertainment  category_food_dining  category_gas_transport  \
0                       0                     0                       0
1                       0                     0                       0
2                       1                     0                       0
3                       0                     0                       0
4                       0                     0                       0

   category_grocery_net  category_grocery_pos  category_health_fitness  \
0                     0                     0                        1
1                     0                     0                        0
2                     0                     0                        0
3                     0                     0                        0
4                     0                     0                        0

   category_home  category_kids_pets  category_misc_net  category_misc_pos  \
0              0                   0                  0                  0
1              0                   0                  1                  0
2              0                   0                  0                  0
3              0                   0                  0                  0
4              0                   0                  0                  0

   category_personal_care  category_shopping_net  category_shopping_pos  \
0                       0                      0                      0
1                       0                      0                      0
2                       0                      0                      0
3                       0                      1                      0
4                       0                      0                      1

   category_travel
0                0
1                0
2                0
3                0
4                0

In [45]:
data_Test.head(2)

,amt,city_pop,risk_probability,hour,distance_km,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,24.84,23,0.581096,22,80.438371,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,780.52,1306,0.825668,22,66.267361,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [46]:
data_Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2145 entries, 0 to 2144
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   amt                      2145 non-null   float64
 1   city_pop                 2145 non-null   int64
 2   risk_probability         2145 non-null   float64
 3   hour                     2145 non-null   int32
 4   distance_km              2145 non-null   float64
 5   category_entertainment   2145 non-null   int32
 6   category_food_dining     2145 non-null   int32
 7   category_gas_transport   2145 non-null   int32
 8   category_grocery_net     2145 non-null   int32
 9   category_grocery_pos     2145 non-null   int32
 10  category_health_fitness  2145 non-null   int32
 11  category_home            2145 non-null   int32
 12  category_kids_pets       2145 non-null   int32
 13  category_misc_net        2145 non-null   int32
 14  category_misc_pos        2145 non-null   int32
 15  category_personal_care   2145 non-null   int32
 16  category_shopping_net    2145 non-null   int32
 17  category_shopping_pos    2145 non-null   int32
 18  category_travel          2145 non-null   int32
dtypes: float64(3), int32(15), int64(1)
memory usage: 192.8 KB

In [47]:
data_Test.shape

(2145, 19)

In [48]:
data_Test.to_csv('New_Test.csv',index=False)