In [1]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\dula\appdata\local\programs\python\python312\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\dula\appdata\local\programs\python\python312\lib\site-packages (from geopy) (2.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
from geopy.distance import geodesic

In [2]:
import pandas as pd
import numpy as np

In [3]:
data_Train=pd.read_csv("Train_dataset_with_probability.csv")
data_Train.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,risk_probability
0,2449,1/2/2019 1:06,4.613310e+12,fraud_Rutherford-Mertz,grocery_pos,281.06,Jason,Murphy,M,542 Steve Curve Suite 011,...,-81.7266,885,Soil scientist,9/15/1988,e8a81877ae9a0a7f883e15cb39dc4022,1325466397,36.430124,-81.179483,1,0.712407
1,2472,1/2/2019 1:47,3.401870e+14,"fraud_Jenkins, Hauck and Friesen",gas_transport,11.52,Misty,Hart,F,27954 Hall Mill Suite 575,...,-98.4590,1595797,Horticultural consultant,10/28/1960,bc7d41c41103877b03232f03f1f8d3f5,1325468849,29.819364,-99.142791,1,0.576108
2,2523,1/2/2019 3:05,3.401870e+14,fraud_Goodwin-Nitzsche,grocery_pos,276.31,Misty,Hart,F,27954 Hall Mill Suite 575,...,-98.4590,1595797,Horticultural consultant,10/28/1960,b98f12f4168391b2203238813df5aa8c,1325473523,29.273085,-98.836360,1,0.642621
3,2546,1/2/2019 3:38,4.613310e+12,fraud_Erdman-Kertzmann,gas_transport,7.03,Jason,Murphy,M,542 Steve Curve Suite 011,...,-81.7266,885,Soil scientist,9/15/1988,397894a5c4c02e3c61c784001f0f14e4,1325475483,35.909292,-82.091010,1,0.465530
4,2553,1/2/2019 3:55,3.401870e+14,fraud_Koepp-Parker,grocery_pos,275.73,Misty,Hart,F,27954 Hall Mill Suite 575,...,-98.4590,1595797,Horticultural consultant,10/28/1960,7863235a750d73a244c07f1fb7f0185a,1325476547,29.786426,-98.683410,1,0.650312

In [4]:
data_Train.shape

(6006, 24)

In [5]:
data_Train.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
risk_probability         0
dtype: int64

In [6]:
data_Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6006 non-null   int64
 1   trans_date_trans_time  6006 non-null   object
 2   cc_num                 6006 non-null   float64
 3   merchant               6006 non-null   object
 4   category               6006 non-null   object
 5   amt                    6006 non-null   float64
 6   first                  6006 non-null   object
 7   last                   6006 non-null   object
 8   gender                 6006 non-null   object
 9   street                 6006 non-null   object
 10  city                   6006 non-null   object
 11  state                  6006 non-null   object
 12  zip                    6006 non-null   int64
 13  lat                    6006 non-null   float64
 14  long                   6006 non-null   float64
 15  city_pop               6006 non-null   int64
 16  job                    6006 non-null   object
 17  dob                    6006 non-null   object
 18  trans_num              6006 non-null   object
 19  unix_time              6006 non-null   int64
 20  merch_lat              6006 non-null   float64
 21  merch_long             6006 non-null   float64
 22  is_fraud               6006 non-null   int64
 23  risk_probability       6006 non-null   float64
dtypes: float64(7), int64(5), object(12)
memory usage: 1.1+ MB

In [7]:
data_Train.head(2)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,risk_probability
0,2449,1/2/2019 1:06,4.613310e+12,fraud_Rutherford-Mertz,grocery_pos,281.06,Jason,Murphy,M,542 Steve Curve Suite 011,...,-81.7266,885,Soil scientist,9/15/1988,e8a81877ae9a0a7f883e15cb39dc4022,1325466397,36.430124,-81.179483,1,0.712407
1,2472,1/2/2019 1:47,3.401870e+14,"fraud_Jenkins, Hauck and Friesen",gas_transport,11.52,Misty,Hart,F,27954 Hall Mill Suite 575,...,-98.4590,1595797,Horticultural consultant,10/28/1960,bc7d41c41103877b03232f03f1f8d3f5,1325468849,29.819364,-99.142791,1,0.576108

In [8]:
len(data_Train['trans_date_trans_time'].value_counts())

5851

In [9]:
data_Train['merchant'].value_counts()

merchant
fraud_Padberg-Welch                    40
fraud_Rau and Sons                     39
fraud_Hudson-Ratke                     39
fraud_Vandervort-Funk                  38
fraud_Kilback LLC                      38
                                       ..
fraud_Mante, Luettgen and Hackett       1
fraud_Thiel Ltd                         1
fraud_Langosh, Wintheiser and Hyatt     1
fraud_Erdman-Schaden                    1
fraud_Cummerata-Hilpert                 1
Name: count, Length: 666, dtype: int64

In [10]:
len(data_Train['merchant'].value_counts())

666

In [11]:
data_Train['category'].value_counts()

category
grocery_pos       1396
shopping_net      1375
misc_net           742
shopping_pos       662
gas_transport      498
misc_pos           194
kids_pets          194
entertainment      185
personal_care      172
home               153
food_dining        121
grocery_net        110
health_fitness     104
travel             100
Name: count, dtype: int64

In [12]:
len(data_Train['category'].value_counts())

14

In [13]:
data_Train['first'].value_counts()

first
Robert         154
Christopher    121
James          106
David           98
Michael         97
              ...
Kayla            4
Willie           4
Sara             3
Lauren           3
Jordan           2
Name: count, Length: 282, dtype: int64

In [14]:
len(data_Train['first'].value_counts())

282

In [15]:
data_Train['last'].value_counts()

last
Martinez    120
Johnson     120
Jones       111
Smith       110
Davis       109
           ...
Alvarez       4
Hardy         4
Curtis        3
Nolan         2
May           2
Name: count, Length: 365, dtype: int64

In [16]:
len(data_Train['last'].value_counts())

365

In [17]:
data_Train['gender'].value_counts()

gender
M    3031
F    2975
Name: count, dtype: int64

In [18]:
len(data_Train['gender'].value_counts())

2

In [19]:
data_Train['street'].value_counts()

street
15315 Vaughn Park Suite 356       19
5205 Annette Islands Apt. 043     19
0374 Courtney Islands Apt. 400    18
6970 Blake Trail                  16
889 Sarah Station Suite 624       16
                                  ..
594 Berry Lights Apt. 392          2
670 Le Meadows Suite 250           2
312 Eric Expressway Apt. 014       2
72269 Elizabeth Field Apt. 132     2
1626 Susan Course                  2
Name: count, Length: 608, dtype: int64

In [20]:
len(data_Train['street'].value_counts())

608

In [21]:
data_Train['city'].value_counts()

city
Warren         33
Naples         29
Dallas         27
Detroit        26
Utica          25
               ..
Hurricane       3
Grandview       3
Phenix City     2
Phoenix         2
Aledo           2
Name: count, Length: 568, dtype: int64

In [22]:
len(data_Train['city'].value_counts())

568

In [23]:
data_Train['state'].value_counts()

state
NY    483
TX    391
PA    345
OH    267
FL    263
CA    263
MI    209
IL    204
AL    183
MO    180
MN    167
NE    150
VA    146
AR    145
SC    143
KY    141
WI    134
MD    120
IA    119
NC    118
OR    115
OK    113
TN    113
WV    106
ME     99
WY     95
GA     93
IN     91
NJ     87
KS     82
CO     79
LA     75
MS     73
NM     70
WA     69
SD     53
NH     49
MA     49
ND     45
NV     39
UT     38
VT     34
MT     32
AZ     30
AK     27
DC     21
CT     16
RI     15
ID     11
DE      9
HI      7
Name: count, dtype: int64

In [24]:
len(data_Train['state'].value_counts())

51

In [25]:
data_Train['zip'].value_counts()

zip
48088    23
82514    21
68375    19
55606    19
95148    18
         ..
85020     2
28405     2
36869     2
33811     2
76008     2
Name: count, Length: 603, dtype: int64

In [26]:
len(data_Train['zip'].value_counts())

603

In [27]:
data_Train['job'].value_counts()

job
Materials engineer                      50
Surveyor, land/geomatics                50
Exhibition designer                     44
Financial trader                        43
Mechanical engineer                     41
                                        ..
Statistician                             3
Chartered loss adjuster                  3
Contractor                               2
English as a second language teacher     2
Optometrist                              2
Name: count, Length: 396, dtype: int64

In [28]:
len(data_Train['job'].value_counts())

396

In [29]:
data_Train['dob'].value_counts()

dob
1/6/1942      23
3/15/1938     21
7/5/2001      19
4/4/1996      19
8/4/1997      18
              ..
2/8/1983       2
10/24/1981     2
2/7/1984       2
7/3/1979       2
7/5/1984       2
Name: count, Length: 604, dtype: int64

In [30]:
len(data_Train['dob'].value_counts())

604

In [31]:
data_Train['trans_num'].value_counts()

trans_num
e8a81877ae9a0a7f883e15cb39dc4022    1
d71945b0d35b29195eb72d9761b12a66    1
f0a995b91d776fc1982544e4734897e9    1
71f68eca507a0872db75874a5702145b    1
1e4709037cd1f2b82e9055a06e8fc9f0    1
                                   ..
f85e35d889e3f60fab9350cdb4ba7741    1
d5f5a0e68e0f8bc4a9a76bf7b853844b    1
b941ff228753e159c7284e25960062fa    1
9c6e61f985de9e5aee0ae3bd4b939470    1
8f0bac74e340483b44babb0d6d07b85b    1
Name: count, Length: 6006, dtype: int64

In [32]:
len(data_Train['trans_num'].value_counts())

6006

In [33]:
data_Train['trans_date_trans_time']=pd.to_datetime(data_Train['trans_date_trans_time'],format='%m/%d/%Y %H:%M')
data_Train['hour']=data_Train['trans_date_trans_time'].dt.hour

In [34]:
data_Train['hour']

0        1
1        1
2        3
3        3
4        3
        ..
6001     3
6002     4
6003     4
6004     8
6005    12
Name: hour, Length: 6006, dtype: int32

In [35]:
data_Train=data_Train.drop(columns=['Unnamed: 0','cc_num','is_fraud','unix_time','trans_date_trans_time','first','last','merchant', 'gender','street','city','state','zip','job','dob','trans_num'])

In [36]:
data_Train.head(2)

,category,amt,lat,long,city_pop,merch_lat,merch_long,risk_probability,hour
0,grocery_pos,281.06,35.9946,-81.7266,885,36.430124,-81.179483,0.712407,1
1,gas_transport,11.52,29.4400,-98.4590,1595797,29.819364,-99.142791,0.576108,1

In [37]:
print(data_Train.dtypes)

category             object
amt                 float64
lat                 float64
long                float64
city_pop              int64
merch_lat           float64
merch_long          float64
risk_probability    float64
hour                  int32
dtype: object

In [38]:
# Function to calculate distance between customer and merchant
def calculate_distance(row):
    customer_location = (row['lat'], row['long'])
    merchant_location = (row['merch_lat'], row['merch_long'])
    return geodesic(customer_location, merchant_location).kilometers

In [39]:
# Apply the function to the DataFrame
data_Train["distance_km"] = data_Train.apply(calculate_distance, axis=1)

In [40]:
data_Train=data_Train.drop(columns=['lat','long','merch_lat','merch_long'])

In [41]:
data_Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          6006 non-null   object
 1   amt               6006 non-null   float64
 2   city_pop          6006 non-null   int64
 3   risk_probability  6006 non-null   float64
 4   hour              6006 non-null   int32
 5   distance_km       6006 non-null   float64
dtypes: float64(3), int32(1), int64(1), object(1)
memory usage: 258.2+ KB

In [42]:
correlation_matrix = data_Train.select_dtypes(include=['number']).corr()
print(correlation_matrix['risk_probability'])

amt                 0.773250
city_pop            0.028607
risk_probability    1.000000
hour                0.220414
distance_km         0.382010
Name: risk_probability, dtype: float64

In [43]:
# One-hot encode 'category' and 'gender', keeping only 0 and 1
data_Train= pd.get_dummies(data_Train, columns=['category'], dtype=int)

In [44]:
# Display the resulting DataFrame
print(data_Train.head())

      amt  city_pop  risk_probability  hour  distance_km  \
0  281.06       885          0.712407     1    68.962726
1   11.52   1595797          0.576108     1    78.443229
2  276.31   1595797          0.642621     3    41.048425
3    7.03       885          0.465530     3    34.211963
4  275.73   1595797          0.650312     3    44.124854

   category_entertainment  category_food_dining  category_gas_transport  \
0                       0                     0                       0
1                       0                     0                       1
2                       0                     0                       0
3                       0                     0                       1
4                       0                     0                       0

   category_grocery_net  category_grocery_pos  category_health_fitness  \
0                     0                     1                        0
1                     0                     0                        0
2                     0                     1                        0
3                     0                     0                        0
4                     0                     1                        0

   category_home  category_kids_pets  category_misc_net  category_misc_pos  \
0              0                   0                  0                  0
1              0                   0                  0                  0
2              0                   0                  0                  0
3              0                   0                  0                  0
4              0                   0                  0                  0

   category_personal_care  category_shopping_net  category_shopping_pos  \
0                       0                      0                      0
1                       0                      0                      0
2                       0                      0                      0
3                       0                      0                      0
4                       0                      0                      0

   category_travel
0                0
1                0
2                0
3                0
4                0

In [45]:
data_Train.head(2)

,amt,city_pop,risk_probability,hour,distance_km,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,281.06,885,0.712407,1,68.962726,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,11.52,1595797,0.576108,1,78.443229,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [46]:
data_Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   amt                      6006 non-null   float64
 1   city_pop                 6006 non-null   int64
 2   risk_probability         6006 non-null   float64
 3   hour                     6006 non-null   int32
 4   distance_km              6006 non-null   float64
 5   category_entertainment   6006 non-null   int32
 6   category_food_dining     6006 non-null   int32
 7   category_gas_transport   6006 non-null   int32
 8   category_grocery_net     6006 non-null   int32
 9   category_grocery_pos     6006 non-null   int32
 10  category_health_fitness  6006 non-null   int32
 11  category_home            6006 non-null   int32
 12  category_kids_pets       6006 non-null   int32
 13  category_misc_net        6006 non-null   int32
 14  category_misc_pos        6006 non-null   int32
 15  category_personal_care   6006 non-null   int32
 16  category_shopping_net    6006 non-null   int32
 17  category_shopping_pos    6006 non-null   int32
 18  category_travel          6006 non-null   int32
dtypes: float64(3), int32(15), int64(1)
memory usage: 539.7 KB

In [47]:
data_Train.shape

(6006, 19)

In [48]:
data_Train.to_csv('New_Train.csv',index=False)